@using NewsWebApp.ViewModels
@model ArticleViewModel

@{
    ViewData["Title"] = Model.Title;
}

<div class="article container align-content-center border mt-4 p-5">
    <div class="text-center">
        <h1 class="Title"><b>@Model.Title</b></h1>
    </div>
    @if (Model.Description is not null)
    {
        <span class="description-text">@Model.Description</span>
    }
    <div class="author-box">
        <span class="author-name">
            @Model.Author
        </span>
        <span class="article-date">@Model.CreatedDate</span>
        <span class="article-time-since-creation">@Model.TimeSinceCreation</span>
    </div>
    <div class="share-box">
        <i class="fa-solid icons share-icon fa-share-nodes"></i>
        <a href="https://twitter.com/intent/tweet?text=@Model.Title&url=https://www.onlinekhabar.com/2025/08/1752352" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands icons twitter fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/sharer.php?u=https://www.onlinekhabar.com" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands icons facebook fa-facebook-f"></i>
        </a>
    </div>
    <div>
        @if (Model.ImageLink is not null)
        {
            <img src="@Model.ImageLink" alt="@Model.ImageDescription"/>
        }
    </div>
    <div class="content">
        @Html.Raw(Model.Content)
    </div>
</div>