@model Article
@{
    ViewData["Title"] = Model.Title;
}

<div class="container align-content-center border mt-4 p-5">
    <span class="text-center  mt-4 p-5 ">
        <h1><b>@Model.Title</b></h1>
    </span>
    <span>@Model.Description</span>
    <br />
    <span>@Model.CreatedDate</span>
    <span>
        <h5>
            @Model.Author
        </h5>
    </span>
    <span>
        <div>
            @Html.Raw(Model.Content)
        </div>
        <div>
            @if (Model.ImageLink is not null)
            {
                <img src="@Model.ImageLink" />
            }
        </div>

    </span>
</div>