@using NewsWebApp.ViewModels
@model ArticleViewModel

@{
    ViewData["Title"] = Model.Title;
}

<div class="article container align-content-center border mt-4 p-5">
    <div class="text-center">
        <h1 class="Title"><b>@Model.Title</b></h1>
    </div>
    <span class="description-text">@Model.Description</span>
    <br />
    <div class="author-box">
        <h2 class="author-name">
            @Model.Author
        </h2>
        <span class="article-date">@Model.CreatedDate</span>
        <span class="article-time-since-creation">@Model.TimeSinceCreation</span>
    </div>
    <div class="content">
        @Html.Raw(Model.Content)
    </div>
    <div>
        @if (Model.ImageLink is not null)
        {
            <img src="@Model.ImageLink" />
        }
    </div>
</div>