<!-- model takes the list of top 20 articles based on Article Id in descending order,
    displays titles of first 3 single row each, the next 2 in the same row and the 3
    following in the next row
-->
@{
    ViewData["Title"] = "Entertainment";
}
@model List<NewsWebApp.ViewModels.HomeViewModel>

<div class="container">
    @foreach (var obj in Model.Take(3))
    {
        <span class="container row mt-4 border p-5 mt-5 align-content-center text-center">
            <a code style="text-decoration:none" asp-controller="Article" asp-action="Index" asp-route-id="@obj.Id"><h1><b>@obj.Title</b></h1></a>
        </span>
    }
</div>

<div class="container">
    <div class="row">
        @foreach (var obj in Model.Skip(3).Take(2))
        {
            <span class="col-md-6 row mt-4 border p-5 mt-5 text-center">
                <a code style="text-decoration:none" asp-controller="article" asp-action="index" asp-route-id="@obj.Id"><h3><b>@obj.Title</b></h3></a>
            </span>
        }
    </div>
</div>

<div class="container">
    <div class="row">
        @foreach (var obj in Model.Skip(5).Take(3))
        {
            <span class="col-md-4 row mt-4 border p-5 mt-5 text-center">
                <a code style="text-decoration:none" asp-controller="Article" asp-action="Index" asp-route-id="@obj.Id"><h3><b>@obj.Title</b></h3></a>
            </span>
        }
    </div>
</div>
