@{
    ViewData["Title"] = "Article List";
}

@model NewsWebApp.ViewModels.DashboardViewModel

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                Article List
            </h2>
        </div>

        <div class="col-6 text-end">
            <a asp-controller="ArticleCrud" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle-fill"></i>
                Create New Article
            </a>
        </div>
    </div>

    <div class="row">
        <form asp-controller="ArticleCrud" asp-action="Index">
            <div class="row">
                <div class="col-md-8">
                    <input name="term" class="form-control" placeholder="Search by Title" />
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-info">Search</button>
                </div>
            </div>
        </form>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    <a href="/ArticleCrud/Index?orderBy=@Model.IdSortOrder">Id</a>
                </th>
                <th>
                    Article Title
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        @foreach (var obj in Model.Articles)
        {
            <tbody>
                <tr>
                    <td>
                        @obj.Id
                    </td>
                    <td>
                        <a asp-controller="Article" asp-action="Index" asp-route-id="@obj.Id" target="_blank" rel="noopener noreferrer">@obj.Title</a>
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="ArticleCrud" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-outline-dark mx-2">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                            <a asp-controller="ArticleCrud" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-outline-danger mx-2">
                                <i class="bi bi-trash3"></i> Delete
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        }
    </table>

</div>